/* Buttons */

.btn-primary{
	@include add-background($primary-color);
	@include add-border(2px, #ffffff, all);
}

.btn-primary:hover{
	background:darken($primary-color,10%);
	@include add-border(2px, #ffffff, all);
}

.btn-light{
	@include add-background($light-color);
	@include add-border(2px, #ffffff, all);
}

.btn-light:hover{
	background:darken($light-color,10%);
	@include add-border(2px, #ffffff, all);
}

.btn.active.focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn:active:focus, 
.btn:focus {
    outline: 0;
    outline-offset:0;
}
