/* Mixins */

@mixin border-radius($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

@mixin add-border($size, $color, $position) {
    @if $position=='all' {
        border: $size solid $color;
    }
    @else if $position=='top' {
        border-top: $size solid $color;
    }
    @else if $position=='bottom' {
        border-bottom: $size solid $color;
    }
    @else if $position=='right' {
        border-right: $size solid $color;
    }
    @else if $position=='left' {
        border-left: $size solid $color;
    }
    @else if $position=='top-bottom' {
        border-top: $size solid $color;
        border-bottom: $size solid $color;
    }
    @else if $position=='right-left' {
        border-left: $size solid $color;
        border-right: $size solid $color;
    }
}

@mixin add-background($color) {
    background: $color;
    @if $color==$very-light-color {
        color: $base-font-color;
    }
    @else {
        color:$very-light-color;
    }
}

// Flexbox display
@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
@mixin flex-direction($direction) {
    -webkit-flex-direction: $direction;
    -moz-flex-direction: $direction;
    -ms-flex-direction: $direction;
    flex-direction: $direction;
}