/* Font Colors */



$base-font-size:16px;
$base-font-family: sans-serif;

$base-font-color:#6b7c93;


/* Background Colors */

$primary-color:#00aff0;
$secondary-color:#7fba00;

$light-color:#00bcf0;
$dark-color:#2b5464;
$very-light-color: #fff;

$body-bg: #f7f8fa;
$light-bg: #fff;

/* Showcase Area */

$showcase-height:400px;
$showcase-image:'../img/showcase.jpg';